[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
pytest = "*"
python-dotenv = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"

[scripts]
format = "yapf -r -i ./handler.py"
lint = "flake8 --show-source ./handler.py"
